@font-face {
    font-family: "Road";
    src: url(./Road_Rage.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    color: rgb(5, 70, 209);
    font-size: 1rem;
    font-family: 'Road', sans-serif;
    background-color: rgba(0, 0, 0, 0.904);
    /*background-image: url(../asset/moon-phase-header-1.jpg);*/
    

}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    color: rgba(237, 252, 252, 0.932);
    background-color: rgb(109, 15, 15);
    height: 30vh;
    position: fixed;
    width: 100vw;
    z-index: 10;
}



main{
    position:relative;
    top: 30vh;
}

h1, h2 {
    width: fit-content;
}

#Logo {
    height: 100%;
}

#titres {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    padding: 15px;
    margin-right: 10%;

}

main {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

article {
width: 60%;
background-color: rgba(245, 246, 247, 0.171);
padding: 30px;
margin: 30px;
/*border: rgb(233, 223, 223) solid 2px;*/
border-radius: 40px;
box-shadow: white 2px 2px 5px 0px;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 46vh;
    width: 20vw;
    background-color: rgb(109, 15, 15);;
    position: fixed;
    left: calc(-20vw - 1vh);
    top: 21vh;
    margin-left: 1vh;
    z-index: 5;
    margin-top: 5vh;
    transition: left 1s;

}

ul {
    padding: 20px;
}

#image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    aspect-ratio: 1904/640;
    /*height: 50vh;*/
    width: 100%;
    background-image: url(../asset/library.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-position-y: 20vh;
    
}

#image>h2 {
font-size: 5rem;
padding-right: 5vw;
color: rgb(109, 15, 15);
}

.bouton {
    display: block;
    text-decoration: none;
    width: 80%;
    height: 5vh;
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding-top: 10px;
    border-radius: 2.5vh;
    color: rgb(233, 247, 234);
    /*border-radius: rgb(241, 229, 229) 10px 10px 15px 0;
    transition: box-shadow 250ms;*/
}

.bouton:hover {
    color: rgb(233, 247, 234);
    background-color: black;
    border: rgb(233, 247, 234) 2px solid;
    /*box-shadow: 0 0 2px 0;*/
}


#trigger {
    display: none;
    position: fixed;
    top: 30vh;
    width: 7vh;
    aspect-ratio: 1;
    background-color: rgb(197, 241, 0);
    border: solid 1px rgb(0, 0, 0);
    border-radius: 0 10px 10px 0;
    background-image: url(../asset/menu.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}

#close {
    position: relative;
    top: 1vh;
    left: 40%;
    width: 4vh;
    aspect-ratio: 1;
    background-color: rgb(197, 241, 0);
    border: solid 1px rgb(0, 0, 0);
    border-radius: 5px;
    background-image: url(../asset/croix.png);
    background-repeat: no-repeat;
    background-size: cover;


}
